.dv_textbutton {
    white-space: normal;
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    background: #E3E3E3 linear-gradient(rgb(239, 239, 239), rgb(216, 216, 216)) !important;
    padding: 3px 12px !important;
}

.oe_list_field_cell button {
    white-space: normal;
}