.oe_vm_switch_cc:after {
    font-family: "mnmliconsRegular" !important;
    font-size: 21px;
    font-weight: 300 !important;
    content: "4";
    top: -2px;
    position: relative;
}

.thcc_cc_collection {
    margin: 1em;
    padding: 1em;
    border: 1px solid lightblue;

}
.thcc_cc_collection_models {
    font-size: 0.1em;
}

.thcc_cc_model {
    float: left;
    font-size: 10em;
}

.thcc_cc_model {
    border: 1px solid lightcyan;
    display: inline-block;
}

.thcc_cc_model_table{
    border-collapse: collapse;
}

.thcc_cc_model_table th {
    font-weight: normal;
    font-style: italic;
    color: dodgerblue;
    font-size: 0.8em;
}

.thcc_cc_model_table td {
    border: 1px solid lightcyan;
}